.notification-circle {
  position: absolute;
  top: 70px; /* Adjust the top position as needed */
  right: 255px; /* Adjust the right position as needed */
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
