.change {
  width: 100px; /* Adjust thumbnail size as needed */
  height: 100px;
  margin-right: 10px; /* Add margin between thumbnails */
  cursor: pointer;
}

#largeImage {
  max-width: 100%; /* Ensure image fits within container */
}

.dropbtn {
  /* background-color: none; */
  /* color: white; */
  padding: 5px;
  font-size: 11px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 20px;
  position: relative;
  right: 30px;
  margin-top: 7px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  right: 300px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
  display: block;
}
