.cart {
  margin: 50px;
}

.cart .title {
  margin-bottom: 50px;
}

.cart .title p {
  font-size: 20px;
  color: gray;
}

.cart .title p span {
  color: black;
}

.cart .main_content .sec_1 {
  display: flex;
  justify-content: space-between;
  background-color: #fffefe;
  padding: 19px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
  font-weight: 600;
  color: #333232;
  margin-bottom: -350px;
}

.cart .main_content .sec_2 {
  display: flex;
  justify-content: space-between;
  background-color: #fffefe;
  padding: 19px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
  color: #000000;
  margin-bottom: 30px;
}

.cart .main_content .sec_2 .image_cont {
  display: flex;
}

.cart .main_content .sec_2 .image_cont img {
  height: 30px;
}

.cart .main_content .sec_2 .image_cont p {
  margin: 5px 0 0 10px;
  font-weight: bold;
}

.cart .main_content .sec_2 .first {
  margin-left: -95px;
}

.cart .main_content .sec_2 .Num input {
  width: 60px;
  padding: 8px;
  margin-top: -10px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: -20px;
}

.cart .main_content .sec_2 .third {
  margin-right: 20px;
}

.cart .main_content .sec_3 {
  display: flex;
  justify-content: space-between;
  background-color: #fffefe;
  padding: 19px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
  color: #333232;
  margin-bottom: 30px;
}

.cart .main_content .sec_3 .image_cont {
  display: flex;
}

.cart .main_content .sec_3 .image_cont img {
  height: 30px;
}

.cart .main_content .sec_3 .image_cont p {
  margin: 5px 0 0 10px;
  font-weight: bold;
}

.cart .main_content .sec_3 .first {
  margin-left: -95px;
}

.cart .main_content .sec_3 .Num input {
  width: 60px;
  padding: 8px;
  margin-top: -10px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: -20px;
  position: static;
  right: 0;
  left: 0;
  bottom: 0;
}

.cart .main_content .sec_3 .third {
  margin-right: 20px;
}

.cart .main_content .sec_4 {
  display: flex;
  justify-content: space-between;
}

.cart .main_content .sec_4 button {
  background-color: white;
  border: 1px solid rgb(36, 35, 35);
  outline: none;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 50px;
}

.cart .main_content .sec_4 button:hover {
  color: whitesmoke;
  background-color: #940808;
  transition: 0.3s ease-in-out;
  border: none;
}

.cart .main_content .sec_5 {
  display: flex;
  justify-content: space-between;
}

.cart .main_content .sec_5 .update input {
  padding: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

.cart .main_content .sec_5 .update input::placeholder {
  font-size: 15px;
}

.cart .main_content .sec_5 .update button {
  padding: 10px;
  outline: none;
  border: none;
  background-color: #940808;
  color: white;
  border-radius: 3px;
  width: 150px;
  cursor: pointer;
  margin-left: 5px;
}

.cart .main_content .sec_5 .update button:hover {
  color: whitesmoke;
  background-color: black;
  transition: 0.3s ease-in-out;
}

.cart .main_content .sec_5 .rank {
  padding: 10px;
  border: 2px solid black;
  width: 35%;
}

.cart .main_content .sec_5 .rank h3 {
  margin-bottom: 20px;
}

.cart .main_content .sec_5 .rank .subtotal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.cart .main_content .sec_5 .rank .subtotal p {
  margin-bottom: 5px;
}

.cart .main_content .sec_5 .rank .shipping {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.cart .main_content .sec_5 .rank .shipping P {
  margin-bottom: 10px;
}

.cart .main_content .sec_5 .rank .Total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart .main_content .sec_5 .rank .rank_btn {
  text-align: center;
}

.cart .main_content .sec_5 .rank .rank_btn button {
  padding: 10px;
  background-color: #940808;
  outline: none;
  border: none;
  color: whitesmoke;
  border-radius: 2px;
  width: 200px;
  cursor: pointer;
}

.cart .main_content .sec_5 .rank .rank_btn button:hover {
  color: whitesmoke;
  background-color: black;
  transition: 0.3s ease-in-out;
}

.All {
  position: relative;
  margin-bottom: 100px;
  top: 45rem;
  margin-top: -10px;
  z-index: 1;
  overflow: hidden;
}

.home {
  text-decoration: none;
  color: black;
}
