.container,
.checkoutArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.container > .wrapper,
.checkoutArea > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  padding-top: 40px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 24px;
}

.home {
  display: flex;
  gap: 20px;
}

.home > a {
  color: inherit;
  text-decoration: none;
}

.checkoutArea {
  display: flex;
}

.billingInfo {
  width: fit-content;
  padding: 24px;
  border: 1px solid red;
}

.billingInfo > form {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.billingInfo > form > .form-control {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.required {
  color: red;
}

.billingInfo > form > .form-control > label {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #7d8184;
}
.billingInfo > form > .form-control > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding: 12px;
}

.billingInfo > form > .form-controls {
  width: 100%;
  display: flex;
  gap: 20px;
}

/* Default styles for the checkbox */
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Adjust as needed */
  margin-bottom: 15px; /* Adjust as needed */
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border: 1px solid #7d8184;
  height: 23px; /* Adjust as needed */
  width: 23px; /* Adjust as needed */
}

/* Style the checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  background-color: #db4444; /* Default background color */
  border: 1px solid #ccc; /* Border color */
}

/* Style the checkmark when checked */
.checkbox-container input:checked ~ .checkmark {
  background-color: #3498db; /* Background color when checked */
}

/* Hide the default checkbox */
.checkbox-container input:checked ~ .checkmark {
  display: none;
}
